        body{
            font-family: "Google Sans", sans-serif;
            /* background-color: #fddce7; */
            background-color: #fff;
        }

        /* Navbar */
        .navigation{
            background-color: #050505;
            z-index: 1020;
            min-height: 70px;
            padding: 12px 20px;
        }

        /* .navbar-brand img{
            height: 100px;
        } */

        /* Navbar Links */
        .custom-link,
        .dropdown-toggle{
            color: #fff !important;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            position: relative;
            text-decoration: none;
        }

        /* Underline Animation */
        .custom-link::after,
        .category-text::after
        {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px; 
            width: 0;
            height: 2px;
            background: #c02c5d;
            transition: width 0.4s ease;
        }

        @media (max-width: 991px){

            .navbar-collapse{
                padding-top: 15px;
            }

            .menubar{
                margin-top: 15px;
                align-items: flex-start !important;
            }

            .nav-item{
                width: 100%;
                margin-bottom: 10px;
            }

            .nav-btn{
                width: 100%;
            }
        }

        .navbar-toggler{
            background-color: white !important;
            border: none;
        }

        .navbar-toggler:focus{
            box-shadow: none;
        }

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .category-text::after{
            bottom: -12px;
        }

        .custom-link:hover::after{
            width: 100%;
        }

        /* Categories Underline */
        .category-text{
            position: relative;
        }

        .dropdown-toggle:hover .category-text::after{
            width: 100%;
        }

        /* Dropdown Menu */
        .category-menu{
            background-color: #272323;
            border: 1px solid #c02c5d;
        }

        .category-menu .dropdown-item{
            color: #fff;
            font-family: 'Poppins', sans-serif;
            transition: 0.3s;
        }

        .category-menu .dropdown-item:hover{
            background-color: #c02c5d;
            color: #fff;
        }

        /* Login Button */
        .nav-btn{
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
            background-color: #d1074a;
            color: #fff;
            border: 1px solid #c02c5d;
        }

        .nav-btn:hover{
            background-color: #a6072c;
            color: #fff;
            border: 1px solid #e01041;
            box-shadow: 0 4px 12px rgba(122, 31, 61, 0.25);
        }

        /* Wishlist & Cart Icons */
        .nav-link i{
            font-size: 1.1rem;
        }

        #banner{
            max-width:1220px;
            margin:auto;
        }

        /* Custom slider background (optional) */
        .carousel-slidder{
            background-color:#f7e7d7;
        }

        /* Make slide relative so overlay works */
        .carousel-item{
            position:relative;
        }

        .carousel-title{
            font-family: 'Playfair Display', serif;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .carousel-text{
            font-family: 'Poppins', sans-serif;
            font-size: 1.1rem;
            font-weight: 400;
        }

        /* Black overlay */
        .overlay{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: linear-gradient(
                to bottom,
                rgba(0,0,0,0.1), 
                
                rgba(0,0,0,0.7)
            );
            z-index:1;
        }

        /* Text above overlay */
        .carousel-caption{
            z-index:2;
        }

        .carousel-item img{
            height:500px;
            object-fit:cover;
        }
        .search-btn {
            background-color: #f1eeeb;
            border: 2px solid #d1074a;
            border-radius: 10px;
        }
        .search-btn:hover {
            background-color: #fa7aa5;
        }
        .login-submit-btn {
            background-color: #c20525;
            border: 1px solid #c20525;
        }
        .login-submit-btn:hover {
            background-color: #f12d4d;
            border: 1px solid #c20525;
        }
        .categories img {
            height: 150px;
            width: 200px;
            object-fit:cover;
            border-radius: 20%;
        }

        #about-us h1{
            /* color: white; */
            color: #a6072c;
            font-weight: 700;
        }
        #about-us h2{
            color: #bd1239;
        }

        #about-us img{
            border-radius: 30px;
        }

        #why-choose-us h1{
            /* color: white; */
            color: #a6072c;
            font-weight: 700;
        }
        #why-choose-us h2{
            color: #bd1239;
        }

        #why-choose-us img{
            border-radius: 30px;
        }

        /* #category-sec h1{
            color: #a6072c;
            font-weight: 700;
        } */

        h1{
            color: #a6072c;
            font-weight: 700;
        }

        .product-card {
            width: 265px;
            min-height: 360px;
        }
        .product-card img{
            height:180px; 
            object-fit:cover;
        }
        .cart-info{
            display: flex;
        }
        .hide-scrollbar {
            scrollbar-width: none;        
        }
        .about-us{
            background: linear-gradient(to right,#fc6780,#fa0f37);
        }
        .brand-info{
            color: #d1074a;
        }
        .brand-info p{
            color: black;
        }
        .brand-info-img img{
            border-radius: 15px;
            /* box-shadow: ; */
        }

        .brand-info-img img , .beauty-cat {
            transition: transform 0.4s ease;
        }

        .brand-info-img img:hover , .beauty-cat:hover{
            transform: translateY(-10px);
        }
        

        /* TESTIMONIALS SECTION */

        #testimonials{
            /* background: #fff5f8; */
        }

        .testimonial-tag{
            background: #ffd3df;
            color: #c20525;
            padding: 8px 18px;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 600;
        }

        #testimonials h1{
            color: #a6072c;
            font-family: "Roboto Slab", serif;
        }

        .testimonial-description{
            max-width: 600px;
            margin: auto;
        }

        .testimonial-card{
            background: white;
            padding: 30px;
            border-radius: 25px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.06);
            transition: 0.4s ease;
        }

        .testimonial-card:hover{
            transform: translateY(-8px);
            box-shadow: 0 18px 40px rgba(0,0,0,0.10);
        }

        .stars{
            color: #f4b400;
            font-size: 15px;
        }

        .testimonial-text{
            color: #555;
            line-height: 1.8;
            font-style: italic;
        }

        .testimonial-user-img{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
        }

        footer{
            background-color: #050505;
        }

.text-pink {
  color: #e91e63;
}

.hero-section {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?q=80&w=1200&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
}

.filter-btn {
  border: 2px solid #e91e63;
  color: #e91e63;
  border-radius: 30px;
  padding: 10px 24px;
  font-weight: 600;
}

.filter-btn:hover,
.filter-btn.active {
  background-color: #e91e63;
  color: white;
}

.product-card {
  background: white;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  height: 280px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-category {
  background: #ffe0eb;
  color: #e91e63;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.btn-pink {
}

/* .product-card{

} */

/* #filters li{
    cursor:pointer;
    transition:all 0.3s ease;
}

#filters li{
    font-size: 18px;
}

#filters li:hover{
    color: #bd1239;
} */

.filter-item{
    cursor:pointer;
    transition:all 0.3s ease;
    padding:8px 12px;
    border-radius:8px;
}

.filter-item:hover{
    color:#ee1d3f;
    background-color:rgba(238,29,63,0.08);
}

.filter-item.active{
    color:#ee1d3f;
    background-color:rgba(238,29,63,0.12);
}