        body {
            font-family: "Google Sans", sans-serif;
            background-color: #fddce7;
        }
        #navigation {
           background-color: #272323;
           /* position: sticky; 
           top: 0;        */
           z-index: 1020;  
           height: 70px; 
           padding: 12px 20px;
        }
        .menubar li a {
            /* border-bottom: 3px solid #232222; */
            color: #fffcfc; 
            position: relative;
        }

        .menubar li a::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 2px;
            background: #c02c5d;
            width: 0%;
            /* transform: scaleX(0);
            transition: transform 0.4s ease; */

        } 

        @keyframes borderSlide{
            0% {
                width:0%;
            }
            100% {
                width:100%;
            }
        }

        .menubar li a:hover::after{
            animation:borderSlide 0.4s forwards;
        }


        .menubar li a:hover {
            /* border-bottom: 3px solid #c02c5d; */
             color: #fffcfc; 
        }
        .nav-btn {
            background-color: #d1074a;
            color: #ffffff;
            border: 1px solid #c02c5d;
        }
        .nav-btn:hover {
            background-color: #a6072c;
            color: #ffffff;
            border: 1px solid #e01041;
            box-shadow: 0 4px 12px rgba(122, 31, 61, 0.25);
        }

        #loginModel{
            /* background: #f8f8f8; */
        }

        #banner{
            max-width:1220px;
            margin:auto;
        }

        /* Custom slider background (optional) */
        .carousel-slidder{
            background-color:#f7e7d7;
        }

        /* Make slide relative so overlay works */
        .carousel-item{
            position:relative;
        }

        /* Black overlay */
        .overlay{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: linear-gradient(
                to bottom,
                rgba(0,0,0,0.1), 
                
                rgba(0,0,0,0.7)
            );
            z-index:1;
        }

        /* Text above overlay */
        .carousel-caption{
            z-index:2;
        }

        .carousel-item img{
            height:500px;
            object-fit:cover;
        }
        .search-btn {
            background-color: #f1eeeb;
            border: 2px solid #d1074a;
            border-radius: 10px;
        }
        .search-btn:hover {
            background-color: #fa7aa5;
        }
        .login-submit-btn {
            background-color: #c20525;
            border: 1px solid #c20525;
        }
        .login-submit-btn:hover {
            background-color: #f12d4d;
            border: 1px solid #c20525;
        }
        .categories img {
            height: 150px;
            width: 200px;
            object-fit:cover;
            border-radius: 20%;
        }
        .product-card {
            width: 265px;
            max-height: 360px;
        }
        .product-card img{
            height:180px; 
            object-fit:cover;
        }
        .cart-info{
            display: flex;
        }
        .hide-scrollbar {
            scrollbar-width: none;        
        }
        .about-us{
            background: linear-gradient(to right,#fc6780,#fa0f37);
        }
        .brand-info{
            color: #d1074a;
        }
        .brand-info p{
            color: black;
        }
        .brand-info-img img{
            border-radius: 50%;
        }